/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Reset e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #00C2BB;
    color: #fff;
    align-items: center;
}

.cabecalho-imagem {
    width: 200px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
    font-weight: bold;
}


.menu-item {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.menu-item:hover {
    color: #f39c12;
}

/* Menu responsivo */
.menu-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 768px) {
    .cabecalho-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #097A64;
        padding: 20px;
        border-radius: 8px;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .cabecalho-menu.active {
        display: flex;
    }
}


/* Imagem de Capa */
.principal-box {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#imagem-capa {
    background-image: url("../img/capa-vacina.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    .principal-box {
        height: 60vh; /* Reduz a altura em telas menores */
    } }


/* Removido o estilo da .principal-texto */
.principal-texto {
    display: none; /* Removido, já que não queremos exibir o texto */
}

/* Seção secundária */
.secundario-box {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.caixas-secundarias {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px; /* Limita a largura para telas grandes */
}

.conteudo-box {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap; /* Garante que os itens se ajustem em telas pequenas */
}

.conteudo-box img {
    max-width: 100%;  /* Garante que a imagem não ultrapasse os limites do container */
    height: auto;  /* Mantém a proporção da imagem */
    border-radius: 10px;  /* Adiciona cantos arredondados (opcional) */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* Adiciona sombra leve (opcional) */
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 30px; /* Adiciona um espaço entre os boxes */
}

.box:hover {
    transform: translateY(-10px);
}

/* Estilo da seção de descrição */
.descricao-app {
    padding: 50px 20px;
    background-color: #e7edeeb2; /* Fundo branco */
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leve sombra para dar destaque */
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(30px); /* Inicia um pouco abaixo */
    transition: opacity 1s ease, transform 1s ease;
    font-family: 'Ubuntu', sans-serif;
}

/* Adiciona a classe 'visible' para animar a entrada */
.descricao-app.visible {
    opacity: 1; /* Torna a seção visível */
    transform: translateY(0); /* Move a seção para a posição original */
}

/* Estilo do título (h2) */
.descricao-app h2 {
    color: #0074d5;  /* Cor vibrante para a chamada */
    font-size: 2rem; /* Tamanho maior para chamar atenção */
    margin-bottom: 20px;
    font-weight: bold; /* Destacar ainda mais o título */
    text-transform: uppercase; /* Deixar em maiúsculas */
    text-align: center; /* Centraliza o título */
}

/* Estilo do texto (p) */
.descricao-app p {
    font-size: 1.2rem;
    color: #212121; /* Cor escura para o texto */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto; /* Centraliza o texto */
    text-align: justify; /* Justifica o texto */
    margin-top: 20px;
}

h3 {
    color: #0074d5;
    margin-bottom: 15px;
}

/* Seção de Comentários */
.comentarios {
    background-color: #f8f9fa;
    padding: 40px 20px;
    text-align: center;
}

.comentarios h2 {
    font-size: 2rem;
    color: #0074d5;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.comentarios-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.comentario-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left;
}

.comentario-card h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #0074d5;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.comentario-card p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    color: #2e3030;
}

/* Efeito de hover para os cards */
.comentario-card:hover {
    transform: translateY(-10px);
}

/* Responsividade */
@media (max-width: 768px) {
    .comentarios-container {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }
}

/* Estilo para o formulário */
.consulta-vacinas {
    display: grid;
    grid-template-columns: 1fr; /* Apenas uma coluna */
    gap: 30px;  /* Espaçamento entre os itens */
    padding: 50px 0;  /* Padding semelhante ao do outro layout */
    justify-items: center; /* Centraliza os itens */
    width: 100%;
    max-width: 1200px;  /* Garante que o conteúdo não ultrapasse 1200px */
    margin: 0 auto;  /* Centraliza o conteúdo na tela */
}

.consulta-vacinas-box {
    background-color: #fff; /* Cor de fundo branca */
    padding: 40px; /* Ajuste para o espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras mais suaves */
    width: 100%;
    max-width: 100%; /* Garante que ocupe 100% da largura da célula */
    box-sizing: border-box; /* Faz com que o padding seja considerado na largura total */
}

.consulta-vacinas h2 {
    color: #097A64;  /* Usando o verde do formulário */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.campo-form {
    margin-bottom: 20px;  /* Aumentado para ser igual ao outro formulário */
}

.campo-form label {
    display: block;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
}

.campo-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
}

.campo-form input:focus {
    border-color: #27ae60;  /* Cor de foco igual ao formulário */
    outline: none;
}

.button-submit {
    text-align: center;
}

.button-submit button {
    padding: 12px 30px;
    background-color: #00C2BB; /* Cor verde igual ao do formulário */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-submit button:hover {
    background-color: #0078D4; /* Cor mais escura no hover */
}

/* Responsividade para telas menores */
@media (max-width: 900px) {
    .consulta-vacinas {
        grid-template-columns: 1fr; /* Garantir uma coluna em telas médias */
    }
}

@media (max-width: 600px) {
    .consulta-vacinas {
        grid-template-columns: 1fr; /* Garantir uma coluna em telas pequenas */
    }
}



/* Rodapé */
.rodape {
    background-color: #0075D4; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 30px 20px; /* Maior espaçamento para dar um visual mais clean */
    font-family: 'Arial', sans-serif; /* Fonte legível */
}

.rodape .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.rodape .footer-title {
    font-size: 1.1rem; /* Tamanho da fonte reduzido */
    margin-bottom: 15px;
    font-weight: normal; /* Remove o negrito */
}

.rodape .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    font-size: 0.9rem; /* Tamanho da fonte mais suave */
    font-weight: normal; /* Remove o negrito */
}

.rodape .team p {
    margin: 0;
    padding: 0;
    max-width: 250px;
}

/* Estilos para os links */
.rodape a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape a:hover {
    color: #f39c12; /* Cor dourada ao passar o mouse */
}

@media (max-width: 768px) {
    .rodape .team {
        flex-direction: column;
        align-items: center;
    }
    
    .rodape .team p {
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {
    .rodape .team {
        flex-direction: column;
        align-items: center;
    }
    
    .rodape .team p {
        margin-bottom: 10px;
    }
}
/* Responsividade */
@media (max-width: 600px) {
    .cabecalho {
        flex-direction: column;
        padding: 20px;
    }
    
    .cabecalho-imagem {
        width: 220px;
    }

    .cabecalho-menu {
        display: block;
    }

    .conteudo-box {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 90%;
    }

    .principal-texto {
        font-size: 2rem;
        text-align: center; /* Ajuste para centralizar o texto em dispositivos pequenos */
    }

    .box {
        width: 90%; /* Ajuste para garantir que as caixas não ultrapassem a largura da tela */
    }
}

/* Responsividade para telas médias (500px - 1451px) */
@media (min-width: 500px) and (max-width: 1451px) {
    .principal-texto {
        font-size: 2.5rem; /* Ajusta o tamanho do texto para telas médias */
        max-width: 70%; /* Limita a largura do texto */
    }

    .box {
        width: 280px; /* Reduz a largura das caixas */
    }
}

/* Estilos para a seção de consulta de vacinas */
.consulta-vacinas {
    background-color: #f9f9f9;  /* Cor de fundo suave */
    padding: 20px;
    display: flex;
    justify-content: center;
}

.consulta-vacinas-box {
    background-color: #fff; /* Cor de fundo branca */
    padding: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    max-width: 500px; /* Largura máxima */
    width: 100%;
}

.consulta-vacinas h2 {
    color: #0074d5;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para os resultados das vacinas */
#resultado-vacinas {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

/* Mudar a cor do texto dentro das caixas */
.box h3,
.box p {
    color: #0074d5;  /* Cor mais escura */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;/* Fonte para todos os títulos */
}

/* Estilo para o texto dentro das caixas (agilidade, conhecimento, Disponibilidade..) */
.box p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;  /* Ajuste o tamanho da fonte se necessário */
    color: #2e3030;  /* Cor do texto, pode ajustar conforme necessário */
}

.descricao-app {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    text-align: center;  /* Garante alinhamento */
    padding: 20px;
}

.conteudo-box img {
    max-width: 100%;  /* Garante que a imagem não ultrapasse os limites do container */
    height: auto;  /* Mantém a proporção da imagem */
    border-radius: 10px;  /* Adiciona cantos arredondados (opcional) */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* Adiciona sombra leve (opcional) */
}

@media (max-width: 768px) {
    .conteudo-box img {
        width: 90%;  /* Ajusta a largura da imagem para dispositivos menores */
    }
}
